body
{
	padding:0;
	margin:0;
    width:auto;
}

.site{
	display: grid;
	grid-template-columns: 1fr 15fr;
	grid-auto-rows: 180px;
	background-color: grey;
	color: white;
	border: #646463 solid 5px;
	font-family: Segoe UI Light, Georgia;
	text-decoration:none;
}
a{
	text-decoration:none;
	color:white;
}

/*menu*/
.case1{
	display: grid;
	grid-auto-rows: 18px;
	grid-row: 1/4;
	background-color: #333333;
	text-align: center;
}
.case11{
}
.case12{
	grid-row: 2/6;
}
.case13{
	grid-row: 6/10;
}
.case14{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
	grid-row: 10/14;
}
.case15{
	grid-row: 14/18;
}

.case16{
	grid-row: 18/31;
	background-image: url("virifocus2.png");
}
.case1212{
	transition: 0.3s;
}
.case1313{
	transition: 0.3s;
}
.case1414{
	transition: 0.3s;
}
.case1515{
	transition: 0.3s;
}
.case1212:hover{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
}
.case1313:hover{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
}

.case1515:hover{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
}



/* ensemble des données */
.case2{
	background-color: white;
	display: grid;
	grid-template-columns:3fr 7fr 7fr;
	grid-auto-rows: 180px;
	grid-row: 1/4;
	border-left: white solid 3px;
	
}