body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 5fr 23fr;
    grid-auto-rows: 196px;
    background-color: grey;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    transition: 0.5s;
}
a{
    text-decoration:none;
    color:white;
}

/*menu*/
.header{
    display: grid;
    grid-auto-rows: 18px;
    grid-row: 1/4;
    background-color: #333333;
    text-align: center; 
    border-right: white solid 2px;

}

.home{
    grid-row: 2/6;
}
.compte{
    grid-row: 6/10;
}
.parametres{
    grid-row: 10/14;
}
.aide{
    grid-row: 14/18;
}

.virifocus{
    grid-row: 19/32;
    background-image: url("image/virifocus.png");
    background-size: cover;
    background-position: center;
}


.home_lien{
    transition: 0.3s;
    background-image: url("image/home2.png");
    background-size: cover;
    background-position: center;
}
.compte_lien{
    transition: 0.3s;
    background-image: url("image/compte.png");
    background-size: cover;
    background-position: center;
}
.parametres_lien{
    transition: 0.3s;
    background-image: url("image/parametre.png");
    background-size: cover;
    background-position: center;
}
.aide_lien{
    transition: 0.3s;
    background-image: url("image/aide.png");
    background-size: cover;
    background-position: center;
}
.home_lien:hover{
    background-color: #486454;
}
.compte_lien:hover{
    background-color: #486454;
}
.parametres_lien:hover{
    background-color: #486454;
}
.aide_lien:hover{
    background-color: #486454;
}




.case2{
    grid-row: 1/4;
    display: grid;
    grid-auto-rows: 196px;
}
.case21{
    background-color: white;
    grid-row: 1/2; 
    display: grid;
    grid-auto-rows: 16.4px;
}
.photomaison{
    background-image:url("image/maison.png");
    background-size: cover;
    background-position: center;
    grid-row: 1/11
}
.nommaison{
    background-color: #333333;
    grid-row: 11/13;
    font-size: 20px;
    text-align: center;
    color :white;
}

.case22{
    grid-row: 2/4;
    display: grid;
    grid-auto-rows: 10px;
    background-color: lightgrey;
    text-align: center;
    color:black;
}
/*home mode titre*/
.case221{
    grid-row: 1/4;
    font-size: 20px;
}

/*home mode bouttons*/
.case222{
    grid-row: 4/9;
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 10fr 1fr;
    color: #2cc872;
    grid-column-gap: 3px;

}
#case2222{
    background-color: #40495e;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    align-items: center;
    display: flex;
    padding-left: 35px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    background-image: url("image/eco_mode.png");
    background-size: cover;
    background-position: center;

}
#case2223{
    background-color: #40495e;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
#case2224{
    background-color: #40495e;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
#case2222:hover{
    border:#2cc872 solid 2px;
}
#case2223:hover{
    border:#2cc872 solid 2px;
}
#case2224:hover{
    border:#2cc872 solid 2px;
}

.case223{
    grid-row: 9/13;
    font-size: 20px;
    padding-top: 5px;
}
.case224{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-row: 13/21;
}
.case2242{
    background-color: #40495e;
    color:#2cc872;
    border: #2cc872 solid 3px; /*#ae4c43*/
    border-radius: 10px;
    box-shadow: 0px 5px 20px #212122;
}



.case225{
    grid-row: 21/27;
    font-size: 18px;
    padding-top: 3px;
}
.case226{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-row: 27/37;
}
.case2262{
    background-color: #40495e;
    color:#e48177;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #212122;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: 0.3s;
}







.case3{
    overflow: auto;
    grid-row: 1/4;
    display: grid;
    grid-auto-rows:196px;
}
.case31{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 12fr 1fr 12fr;
    background-color: #333333;
}
.case311{
    display: grid;
    grid-auto-rows: 65.3px;
    background-color: #333333;
    font-size: 18px;
}
/*humidité*/
#case3111{
    border-bottom: #2cc872 solid 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    transition: 0.3s;
    border-top: #2cc872 solid 3px;
    cursor: pointer;
}
.case31111{
    align-items: center;
    display: flex;
    justify-content: center;
    color:white;
    background-image: url("image/eau.png");
    background-size: cover;
    background-position: center;
}
.case31112{
    color:#2cc872;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*temperature*/
#case3112{
    border-bottom: #2cc872 solid 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.case31121{
    color:white;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("image/temperature.png");
    background-size: cover;
    background-position: center;
}
.case31122{
    color:#2cc872;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*consommation*/
#case3113{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    transition: 0.3s;
    border-bottom: #2cc872 solid 3px;
    cursor: pointer;
}
.case31131{
    color:white;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("image/energie.png");
    background-size: cover;
    background-position: center;
}
.case31132{
    color:#2cc872;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#case3111:hover{
    background-color: #486454;
}
#case3112:hover{
    background-color: #486454;
}
#case3113:hover{
    background-color: #486454;
}

.zone{
    background-color: #333333;
    display: grid;
    grid-auto-rows: 63px;
    border-top: #2cc872 solid 3px;
    border-bottom: #2cc872 solid 3px;
}
#triangle1{
    grid-row: 1/2;
    background-color: lightgrey ;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    transition: 10s;
    position: relative;
    animation: onmove 3s infinite linear forwards;
    position: relative;
    
}
@keyframes onmove {
    0% {top: 0px;}
    50% {top: 124px;}
    100% {top: 0px;}
}


.case312{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: lightgrey/*#838383*/;
}


.case32{
    grid-row: 2/20;
    display: grid;
    background-color: white;
    grid-auto-rows: 130px;
    color:#2cc872;
    font-size: 40px;
    border-top: lightgrey solid 5px;
    border-bottom: lightgrey solid 3px;
}
.case321{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    border-bottom: lightgrey solid 3px;
}

.case3212{
    display: grid;
    overflow: auto;
    grid-auto-rows: 97px;
    grid-template-columns: repeat(12, 193px);
    grid-column-gap: 10px;
}

.case32121{
    background-color: #8c9ca4;
    border-radius: 10px;
}
.case322{
    border-bottom: lightgrey solid 3px;
}
.case323{
    border-bottom: lightgrey solid 3px;
}



#fenetre{
    position: absolute;
    background-color: white;
    border:#2cc872 solid 3px; 
    font-size:0px;
    width: 0px;
    height: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 1%;
    right:11%;
    top:35%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
#close{
    position: absolute;
    top:4px;
    right: 4px;
    background-color:white;
    border:#2cc872 solid 1px;
}













.switch {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2cc872;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ae4c43;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ae4f43;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.boutton1{
    align-items: center;
    display:flex;
    justify-content: center;
}

.ajouterpiece{
    background-color: #40495e;
    border:none;
    border-radius: 10px;
    color:#2cc872;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    padding: 10px;
    border: #2cc872 solid 3px;
    transition: 0.3s;
}
.ajouterpiece:hover{
    transform:scale(1.05);
    border: #2cc872 solid 5px;
}
.ajouterpiece:active{
    transform: scale(1.03);
}

.boutton2{
    align-items: center;
    display:flex;
    justify-content: center;
}
.ajoutercapteur{
    background-color: white;
    border:none;
    border-radius: 50%;
    color:#2cc872;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    border: #2cc872 solid 3px;
    transition: 0.3s;
    padding-right: 8px;
    padding-left: 8px;
}
.ajoutercapteur:hover{
    transform:scale(1.1);
}
.ajoutercapteur:active{
    transform: scale(1.03);
}