body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;
    grid-auto-rows: 196px;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    transition: 0.5s;
    color: white;
}

.lien{
    text-decoration:none;
    color:black;
}