body
{
    padding:0;
    margin:0;
    width:auto;
    background-color : #333333;
    color : white;
    font-family: Segoe UI Light, Georgia;
}

#Partie_Droite {
    margin-top: auto ;
    margin-bottom: auto ;
}

.lien_co{
    text-decoration:none;
    position : absolute;
    color:white;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
    top : 51%;
}

.lien_in{
    text-decoration:none;
    position : absolute;
    color:white;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
    top : 55%;
}

#image{
    width: 25%;
    display: block ;
    margin-left: 65% ;
    margin-right: auto ;
}

.txtIdentifiant{
    position : absolute;
    font-size : 110%;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
    top : 25%;
}

.cadreID{
    position : absolute;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
	top : 30%;
}

.txtMdp{
	position : absolute;
	font-size : 110%;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
	top : 40%;
}

.cadreMdp{
	position : absolute;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
	top : 45%;
}







