@charset "utf-8";


#site{
	
	display:grid;
	grid-gap:10px;
	
	align-content:center;
	grid-template-columns:2fr 13fr 13fr;
	
	
	font-family: Segoe UI Light;
	
	padding:0;
	margin:0;
	width:auto;
}

header{
	grid-column:1;
}





.imgbox1 .bebe{
	
	position:relative;
  	
  	margin-right:49%;
  	margin-left:35%;
  	margin-top:15%;
  	
	
	text-align:center;
	max-width:30%;
	max-length:30%;
	

}

.imgbox1 .infobox{
	
	text-align:center;    
    background-position: center;
    margin-top:10%;
    font-size:1.3em;
    color:#2cc872;
    
}
.containersav{
	grid-column:3;

	
	color:#2cc872;
	
}

.containersav form{
	
	background-color:#333333;
	
	display:grid;
	grid-gap:0.1vh;
	grid-template-rows:repeat(7,7vh) 35vh 11vh;
	grid-template-columns: 95%;
	margin-right: 5%;
	border:#2cc872 solid 1px;
    border-radius: 5px;
	
	justify-self:center;
	align-self:center;
	max-height:99vh;
	
	margin:2%;
	
	
}
.containersav form label{
	
	align-self: end;
	justify-self:left;
	max-height:1vh;
	margin:0;
	padding:0;
	margin-left:10%;
	margin-bottom: 2%;
}
.containersav form select{
	
	align-self: center;
	height:4vh;
	
}

#submit{
	display: block;
	text-decoration:none;
    color:white;
    background-color:#333333;
    font-family: Segoe UI Light;
    cursor:pointer;
    font-size:1em;
    border:#2cc872 solid 1px;
    border-radius: 5px;
    padding:5px;
    margin:5%;
    min-height:5vh;
    margin-bottom:2vh;
    margin-left: 25%;
    margin-right: 25%;
	
}

#maison{
	display: block;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	
	border-radius: 5px;
	margin:10%;
	
}

#capteur{
	
	display:block;	
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	border-radius: 5px;
	
	margin:10%;
	
}

#msg{
	display: block;
	resize:none;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	
	border-radius: 5px;
	margin:10%;
	
}

#device{
	display: block;
	resize:none;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	
	border-radius: 5px;
	margin:10%;
	
}


}
#submit:hover{
	
	
	background-color:#2cc872;
}



