body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;    
    grid-auto-rows: 100vh;
    grid-gap: auto 20px;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
}

.deco{
    text-decoration:none;
    color:white;
    margin-left:50%;
}
.deco_boutton{
    font-size: 41px;
}
/* Actualisation header */
.lien{
    text-decoration: none;
    color: white;
}
a{
    text-decoration:none;
    color:white;
}

.compte{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}

/* Menu du dashboard_compte*/
.tab {
    display: flex;
    border: 1px solid #ccc;
    background-color: #333333;
    height: 50px;
}

.tab button {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #486454;
}




.tablinks{
    height: 50px;
}

.choix{
    border-left:white 1px solid;
}

.test{
}