body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 4fr 27fr 2fr 27fr;	
    grid-template-rows: 100vh;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
}

/* Actualisation header */
.lien{
    text-decoration: none;
    color: white;
}

.compte{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}

/* CONTENU DE LA PAGE */
/* GAUCHE */
.partie_gauche {
	display: grid;
	grid-column: 2;
}

/* Bloc des infos utilisateurs */
#user_infos { 
	display: grid;
	grid-template-rows: 3fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr; /* Head|Ligne1|Ligne2|Ligne3|ligne4|ligne5|ligne6|Boutton */
	border-radius: 15px;
	border: 1px solid;
	margin-top: 12px;
	margin-bottom: 12px;
}

.text {
	margin-top: 10px;
	margin-left: 5px;
	font-size: 18px;
}

.label {
	font-weight: bold;
	color: #2cc872;
}

img {
	height: 25px;
	width: 25px;
}

#head_user_infos {
	background-color: #333333;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 30px;
	color: white;
	text-align: center;
	text-weight: bold;
}

#ligne1{
	display: grid;
	grid-row: 2;
	grid-template-columns: 1fr 1fr;
}

#firstname{
	grid-column: 2;
}

#ligne2{
	grid-row: 3;
}

#ligne3{
	display: grid;
	grid-row: 4;
	grid-template-columns: 1fr 1fr 1fr;
}

#ligne4{
	display: flex;
	grid-row: 5;
}

#mail-icon {
	padding-top: 8px;
	padding-left: 3px;
}

#ligne5{
	grid-row: 6;
}

#ligne6{
	display: flex;
	grid-row: 7;
}

#phone-icon {
	padding-top: 8px;
}

.ligne_modif{
    text-align: center;
}

.modif{
    border : none;
    float: right;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color:#2CC872;
    color: white;
    border-radius: 2px;
    padding: 1vw;
    font-size: 20px;
    transition: 0.1s;
}
/* DROITE */
.partie_droite {
	display: grid;
	grid-template-rows: 50vh 50vh;
	grid-column: 4;
	margin-right: 12px;
}

.deconnexion {
	color: black;
	font-size: 30px;
	text-decoration: none; 
	float: right;
}

.deconnect_button {
	
}

/* Bloc des tickets */
#ticket {
	grid-row: 2;
	border-radius: 15px;
	margin-bottom: 12px;
	background-color: lightgray;
}