body
{
    padding:0;
    margin:0;
    width:auto;

}

a{
    text-decoration:none;
    color:black;
}

.home{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}


#site{
    display: grid;
    grid-template-columns:2fr 28fr;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    grid-template-rows:100vh;

}
.main{
    color:black;
    display: grid;
    grid-template-columns: 6fr 5fr;
    grid-gap: 2vw;
}
.info{
    display: grid;
    overflow:auto;
}
td{
    font-size: 1.6vw;
    padding: 5px;
}

th{
    background-color: #40495E;
    font-size: 20px;
    color: white;
}
table, th, td{
    border-collapse:collapse;
    border:#40495E solid 2px;
}
.bouton{
    color: #2cc872;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color:white;
    font-size: 30px;
    outline: 0;
}
.bouton:hover{
    color: darkorange;
}
#message{
    font-size:0px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    visibility: hidden;
    overflow: auto;
}
#contenu{
    padding: 2px;
    font-size: 15px;
    width: 38vw;
    height: 30vh;
    border: #40495E 2px solid;
    border-radius: 10px;
}

#repondre{
    padding: 2px;
    width: 38vw;
    height: 30vh;
    border: #40495E 2px solid;
    border-radius: 10px;
    outline: 0;
}
#close{
    position: absolute;
    color: #2cc872;
    border: none;
    cursor: pointer;
    top:1vh;
    right: 1vw;
    background-color:white;
    font-size: 20px;
    border: #2cc872 solid 3px;
}
.envoie{
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #40495e;
    color: white;
    font-size: 1.6vw;
    padding: 10px;
    border-radius: 5px;
    margin-left: 31vw;
}