body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 3fr 25fr;		/* Normalement 30fr, mais la header rétrécit */
    grid-auto-rows: 196px;
	grid-gap: auto 20px;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
}

/* Actualisation header */
.lien{
    text-decoration:none;
    color:white;
}

.compte{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}

/* Menu du dashboard_compte*/
.tab {
	display: grid;
	grid-column-start: 2;
    float: left;
    border: 1px solid #ccc;
    background-color: #333333;
    width: 30%;
    height: 150px;
}

.tab button {
    display: grid;
    background-color: inherit;
    color: white;
    padding: 11px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #486454;
}

.tab button.active {
    background-color: #486454;
}

.tabcontent {
	display: none;
	grid-column-start: 3;
    float: left;
	color: white;
    padding: 0px 12px;
    border: 1px solid #ccc;
	border-radius: 15px;
	background-color: #333333;
    width: 95%;
    height: 550px;
	overflow: auto;
	text-align: center;
}