body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;		/* Normalement 30fr, mais la header rétrécit */
    grid-auto-rows: 196px;
	grid-gap: auto 20px;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
}

/* Actualisation header */
.lien{
    text-decoration:none;
    color:white;
}

.compte{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}

/* Menu du dashboard_compte*/
.tab {
	display: flex;
    border: 1px solid #ccc;
    background-color: #333333;
	overflow: hidden;
	height: 50px;
}

.tab button {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #486454;
}

.tab button.active {
    background-color: #486454;
}

.tabcontent {
	display: none;
	grid-row-start: 2;
	position: relative;
	bottom: 140px;
	color: white;
    border: 1px solid #ccc;
	background-color: #333333;
    height: 500px;
	overflow: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.valider {
	display: grid;
	width: 75px;
	height: 20px;
	grid-row-start: 4;
	position: relative;
}