body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    color: white;
}
a{
    text-decoration:none;
    color:white;
}
.lien{
    text-decoration:none;
    color:white;
}

.home{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 300fr 2fr;
    overflow: auto;
    grid-row: 1/4;
}
.informations{
    display: grid;
    grid-auto-rows: 10px;
}
.maison_1{
    background-color: #333333;
    grid-row: 2/48;
    display: grid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 13fr 1fr 16fr 1fr;
}
.maison_conso{
    display: grid;
    grid-auto-rows: 10px;
}
.maison{
    grid-row: 3/9;
    font-size: 35px;
    text-align: center;
    background-image:url("image/maison3.png");
    background-size: cover;
    background-position: center;
}
.chartContainer{
    background-color: #343c44;
    grid-row: 10/45;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #212122;
    background-image:url("image/conso.png");
    background-size: cover;
    background-position: center;
}


.donnees{
    display: grid;
    grid-auto-rows: 10px;
}
.temp_mode_secu{
    grid-row: 3/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    font-size: 20px;
}
.temperature{
    background-color: #343c44;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #212122;
}
.modemaison{
    background-color: #34445c;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #212122;
    border: #2cc872 solid 2px;
    transition: 0.1s;
    cursor: pointer;
}
.modemaison:hover{
    transform: scale(1.02);
}

.securite{
    background-color: #34445c;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #212122;
    border: #2cc872 solid 2px;
    transition: 0.1s;
    cursor: pointer;
}
.securite:hover{
    transform: scale(1.02);
}

.capteurs{
    grid-row: 15/25;
    background-color: #343c44;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #212122;
    font-size: 20px;
    display: grid;
    grid-auto-rows: 15px;
}
.titre{
    grid-row: 1/2;
    margin-left:10px;
}
.infos{
    grid-row: 2/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #2cc872;
    font-size: 20px;
}
.actifs{
    background-image:url("image/actif.png");
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding-left: 80px;
}
.inactifs{
    background-image:url("image/inactif.png");
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding-left: 80px;
}
.erreur{
    background-image:url("image/erreur.png");
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding-left: 80px;
}
.qui_autresoptions{
    grid-row: 27/43;
    display: grid;
    grid-template-columns: 21fr 10fr;
    grid-gap: 20px;

}
.quiestalamaison{
    grid-row: 1/2;  
    background-color: #343c44;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #212122;
    text-align: center;
    font-size: 20px;
}
.autresoptions{
    grid-row:1/2;
    background-color: #34445c;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #212122;
    font-size: 30px;
    text-align: center;
    color:#2cc872;
    border: #2cc872 solid 2px;
    display: grid;
    transition: 0.1s;
}
.autresoptions:hover{
    transform: scale(1.02);
}

.lien2{
    text-decoration: none;
    color:#2cc872;
}

.ajoutmaison{
    background-color: #333333;
    grid-row: 50/58;
    display: grid;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 25fr;
}
.lien3{
    text-decoration: none;
    color:#2cc872;
}
.boutton2{
    align-items: center;
    display:flex;
    justify-content: center;
}
.ajoutermaisonlink{
    background-color: #333333;
    border:none;
    border-radius: 50%;
    color:#2cc872;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    border: #2cc872 solid 3px;
    transition: 0.3s;
    padding-left:8px;
    padding-right:8px;
}
.ajoutermaisonlink:hover{
    transform:scale(1.15);
    border: #2cc872 solid 3px;
}
.ajoutermaisonlink:active{
    transform: scale(1.03);
}