.header{
	
    display: grid;

    
    grid-template-rows:repeat(31,3.2vh);

    grid-row: 1/4;
    background-color: #333333;
    text-align: center; 
    width:2fr;
    border-right: white solid 2px;
    font-family: Segoe UI Light;
    
}

.home{
	grid-row: 2/6;
    color:white;
    transition: 0.3s;
}
.compte{
	
    grid-row: 6/10;
    color:white;
    transition: 0.3s;
}
.parametres{
	
    grid-row: 10/14;
    color:white;
    transition: 0.3s;
}
.aide{
	
    grid-row: 14/18;
    color:white;
    transition: 0.3s;
}

.virifocus{
    grid-row: 18/31;
    background-image: url("image/virifocus.png");
    background-size: cover;
    margin-bottom:5%;
    background-position: center;
    color:white;
}


.home_lien{
    
    background-image: url("image/home2.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    justify-self: end
    color:white;
}
.compte_lien{
    
    background-image: url("image/compte.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    justify-self: end
    color:white;
}
.parametres_lien{
    
    background-image: url("image/parametre.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    justify-self: end
    color:white;
}
.aide_lien{
    
    background-image: url("image/aide.png");
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    justify-self: end
    color:white;
}
.home:hover{
    background-color: #486454;
}
.compte:hover{
    background-color: #486454;
}
.parametres:hover{
    background-color: #486454;
}
.aide:hover{
    background-color: #486454;
}