@charset "utf-8";

.help_msgs{
	
	display:grid;
	grid-template-columns:2fr 27fr;
	font-family: Segoe UI Light;
}
footer{
	grid-column:1;
}


.container{
	grid-column:2;
	display: grid;
	grid-templates-columns:68% 2% 30%;
	background-color:#333333;
	color:#2cc872;
	
}

.container .infobox{
	grid-column:1;
	
	background-image: url("image/isepaddress.png");
    background-size: cover;
    background-position: center;
    
}
#triangle_msg{
grid-row: 2
background-color: #333333;
clip-path: polygon(0 50%, 100% 0, 100% 100%);
} 

.container form{
	
	grid-column:3;
	display:grid;
	grid-template-rows:repeat(4,auto);
	margin-right: 5%;
	border:#2cc872 solid 1px;
    border-radius: 5px;
	max-width:75%;
	
	margin:10%;
	
	
}

#submit{
	display: block;
	
	text-decoration:none;
    color:white;
    background-color:#333333;
    font-family: Segoe UI Light;
    cursor:pointer;
    font-size:1em;
    border:#2cc872 solid 1px;
    border-radius: 5px;
    padding:5px;
    margin:5%;
    max-width:55%;
    max-height:75%;
    margin-left: 25%;
    margin-right: 1%;
	
}

#maison{
	display: block;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	border-radius: 5px;
	margin:10%;
	
}

#msg{
	display: block;
	resize:none;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	border-radius: 5px;
	margin:10%;
	
}

#utilisateur{
	display: block;
	resize:none;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	border-radius: 5px;
	margin:10%;
	
}

.container form label{
	
	transform:translate(10%,50%);
	
}
#submit:hover{
	
	transform:scale(1.1);
	background-color:#2cc872;
}



