@charset "utf-8";


.help_sav{
	
	display:grid;
	grid-gap:10px;
	
	align-content:center;
	grid-template-columns:2fr 13fr 13fr;
	
	
	font-family: Segoe UI Light;
	
	padding:0;
	margin:0;
	width:auto;
}

header{
	grid-column:1;
}





.imgbox1 .bebe{
	
	position:relative;
  	
  	margin-right:49%;
  	margin-left:35%;
  	margin-top:15%;
  	
	
	text-align:center;
	max-width:30%;
	max-length:30%;
	

}

.imgbox1 .infobox{
	
	text-align:center;    
    background-position: center;
    margin-top:10%;
    font-size:1.3em;
    color:#2cc872;
    
}
.containersav{
	grid-column:3;
	display: grid;
	grid-templates-columns:480px;
	grid-templates-rows: 480px;
	color:#2cc872;
	
}

.containersav form{
	
	background-color:#333333;
	
	display:grid;
	grid-template-rows:repeat(7,7vh) 30vh 9vh;
	grid-template-columns: 95%;
	margin-right: 5%;
	border:#2cc872 solid 1px;
    border-radius: 5px;
	max-width:85%;
	
	margin:2%;
	
	
}
.containersav form label{
	
	align-self: end;
	margin:0;
	padding:0;
	margin-left:10%
}

#submit{
	display: block;
	
	text-decoration:none;
    color:white;
    background-color:#333333;
    font-family: Segoe UI Light;
    cursor:pointer;
    font-size:1em;
    border:#2cc872 solid 1px;
    border-radius: 5px;
    padding:5px;
    margin:5%;
    max-width:55%;
    min-height:80%;
    margin-left: 25%;
    margin-right: 1%;
	
}

#maison{
	display: block;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	min-height:100%;
	border-radius: 5px;
	margin:10%;
	
}

#capteur{
	
	display:block;	
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	border-radius: 5px;
	min-height:100%;
	margin:10%;
	
}

#msg{
	display: block;
	resize:none;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	min-height:100%;
	border-radius: 5px;
	margin:10%;
	
}

#device{
	display: block;
	resize:none;
	border:#2cc872 solid 1px;
	background-color:#333333;
	font-family: Segoe UI Light;
	color:white;
	min-height:100%;
	border-radius: 5px;
	margin:10%;
	
}


}
#submit:hover{
	
	transform:scale(1.1);
	background-color:#2cc872;
}



