body
{
    padding:0;
    margin:0;
    width:auto;
    background-color : #333333;
    color : white;
    font-family: Segoe UI Light, Georgia;
    display: grid;
    grid-template-columns: 5fr 3fr;
}



#Partie_Droite {
    margin-top: auto ;
    margin-bottom: auto ;
}

#image{
    width: 75%;
}


.txtIdentifiant{
    font-size : 110%;
}

.cadreID{

}

.txtMdp{
	font-size : 110%;
}

.cadreMdp{
}

.mdpoublie{
	color: white;
}

.valider{
    color: white;
    cursor: pointer;
    border:none;
    outline: none;
    background-color: #333333;
    border:#2cc872 solid 2px;
    border-radius: 10px;
    padding:10px;
    margin-top: 20px;
    font-size: 15px;
}
.valider:hover{
    box-shadow: 0 0 0 2px #2cc872;
}

.lien_in{
    text-decoration:none;
    color:white;
    border:#2cc872 solid 2px;
    border-radius: 10px;
    padding:10px;
    padding-right: 100px;
    padding-left: 100px;
    
}
.lien_in:hover{
    transform: scale(1.12);
    box-shadow: 0 0 0 2px #2cc872;
}










