body
{
    padding:0;
    margin:0;
    width:auto;
    background-color : #333333;
    color : white;
    font-family: Segoe UI Light, Georgia;
}

#Partie_Droite {
    margin-top: auto ;
    margin-bottom: auto ;
}

#image{
    width: 25%;
    display: block ;
    margin-left: 65% ;
    margin-right: auto ;
}

.txtIdentifiant{
    position : absolute;
    font-size : 110%;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
    top : 33%;
}

.cadreID{
    position : absolute;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
	top : 38%;
}

.txtMdp{
	position : absolute;
	font-size : 110%;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
	top : 45%;
}

.cadreMdp{
	position : absolute;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
	top : 50%;
}

.mdpoublie{
	display: block;
	position: absolute;
	margin-left: 75%;
	margin-right: auto;
	top: 53%;
	color: white;
}

.lien_co{
    text-decoration:none;
    position : absolute;
    color:white;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
    top : 60%;
    border:#2cc872 solid 2px;
    border-radius: 10px;
    padding:10px;
    
}

.lien_in{
    text-decoration:none;
    position : absolute;
    color:white;
    display: block ;
    margin-left: 67% ;
    margin-right: auto ;
    top : 70%;
    border:#2cc872 solid 2px;
    border-radius: 10px;
    padding:10px;
    
}
.lien_co:hover{
    transform: scale(1.02);
    box-shadow: 0 0 0 1px #2cc872;
}
.lien_in:hover{
    transform: scale(1.02);
    box-shadow: 0 0 0 1px #2cc872;
}









