body
{
    padding:0;
    margin:0;
    width:auto;
    font-family: Segoe UI Light, Georgia;
}

.fond {
    display: grid;
    grid-template-columns: 2fr 28fr auto;
}

#menu{
    display: grid;
    grid-template-columns: 2fr 28fr;
    grid-auto-rows: 196px;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    transition: 0.5s;
    color: white;
}

.valider {
    border : none;
    cursor: pointer;
    outline: none;
    background-color: white;
    background-color:#2CC872;
    color: white;
    border-radius: 2px;
    padding: 1vw;
    font-size: 2vw;
    transition: 0.1s;
}
.valider:hover{
    background-color:#2CC872;
    color: white;
    transform: scale(1.05);
}

.lien{
    text-decoration:none;
    color: #2CC872;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    font-size: 30px;
    padding: 20px;
    transition: 0.3s;
    border: #2CC872 2px solid;
}
.lien:hover{
    background-color:#2CC872;
    color: white;
    transform: scale(1.08);
}
.lien:active{
    transform: scale(1.00);
}

/*menu*/

.case1{
    display: grid;
    grid-auto-rows: 18px;
    grid-row: 1/4;
    background-color: #333333;
    text-align: center;
    border-right: white solid 2px;
}

.case11{
}

.case12{
}

.case13{
    grid-row: 6/10;
}

.case14{
    grid-row: 10/14;
}
.case15{
    grid-row: 14/18;
}

.case16{
    grid-row: 18/31;
    background-image: url("image/virifocus.png");
    background-size: cover;
    background-position: center;
}


.case1212{
    transition: 0.3s;
    background-image: url("image/home2.png");
    opacity: 0.2;
    background-size: cover;
    background-position: center;
}

.case1313{
    transition: 0.3s;
    background-image: url("image/compte.png");
    opacity: 0.2;
    background-size: cover;
    background-position: center;
}

.case1414{
    transition: 0.3s;
    background-image: url("image/parametre.png");
    opacity: 0.2;
    background-size: cover;
    background-position: center;
}

.case1515{
    transition: 0.3s;
    background-image: url("image/aide.png");
    opacity: 0.2;
    background-size: cover;
    background-position: center;
}

/*Menu*/
.Main{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto;
}
.formulaire {
    display: grid;
    grid-template-columns: 40% 20%;
    grid-template-rows: repeat(6,auto);
    justify-content: center;
    text-align: center;
    grid-row-gap: 12px;
    grid-column-gap: 3%;
}

.titre {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
}

.stitre {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5%;
    color: #838383;
}

.captcha {
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    grid-row-gap: 10px;
    margin-top: 5%;
}

.g-recaptcha {
    margin: 0 auto;
    width: 304px;
}


.ajoutermaisonlink{
    background-color: #333333;
    border:none;
    border-radius: 50%;
    color:#2cc872;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    border: #2cc872 solid 3px;
    transition: 0.3s;
    padding-left:8px;
    padding-right:8px;
}

.ajoutermaisonlink:hover{
    transform:scale(1.15);
    border: #2cc872 solid 3px;
}

.ajoutermaisonlink:active{
    transform: scale(1.03);
}


.tableau_pieces{
    border-left:grey 2px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}