body
{
    padding:0;
    margin:0;
    width:auto;
    font-family: Segoe UI Light, Georgia;
}

.fond {
    display: grid;
    grid-template-columns: 2fr 28fr;
	grid-template-rows: 60vh 40vh;
	grid-gap: auto 20px;
	text-decoration: none;
}

/* Header sans les icones */
.header{
    display: grid;
    grid-auto-rows: 18px;
    grid-row: 1/4;
    background-color: #333333;
    text-align: center; 
    border-right: white solid 2px;
    font-family: Segoe UI Light;
}

.virifocus{
    background-image: url("image/virifocus.png");
    background-size: cover;
    background-position: center;
    grid-row: 18;
    height: 270px;
    color:white;
}

/* Main */
.lien{
    text-decoration:none;
    color:black;
}

.formulaire {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(5,auto);
    justify-content: center;
    text-align: center;
    grid-row-gap: 12px;
}

.titre {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 30px;
    text-align: center;
    margin-bottom: 4%;
}

.text_envoi {
	display: grid;
	grid-row: 2;
	grid-column: 2;
	text-align: center;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.text_erreur {
	display: grid;
	color: red;
	grid-row: 2;
	grid-column: 2;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	width: 1000px;
}

.valider {
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    grid-row-gap: 10px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
