body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 5fr 23fr;
    grid-template-rows:100vh;
	background-color:blue;
	overflow:hidden;
	
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    transition: 0.5s;
}
a{
    text-decoration:none;
    color:white;
}


.main1{
	
    grid-row: 1;
    display: grid;
    grid-template-rows:30vh 70vh;

}
#eco_mode{
    background-color: #40495e;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    align-items: center;
    display: flex;
    padding-left: 35px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
    background-image: url("image/eco_mode.png");
    background-size: cover;
    background-position: center;
}
#moyen_mode{
    background-color: #40495e;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    align-items: center;
    display: flex;
    padding-left: 42%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 11.5px;
    background-image: url("image/moyen_mode.png");
    background-size: cover;
    background-position: center;
}
#max_mode{
    background-color: #40495e;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    align-items: center;
    display: flex;
    padding-left: 32px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
    background-image: url("image/max_mode.png");
    background-size: cover;
    background-position: center;
}
#eco_mode:hover{
    box-shadow: 0 0 0 3px #2cc872;
}
#moyen_mode:hover{
    box-shadow: 0 0 0 3px #2cc872;
}
#max_mode:hover{
    box-shadow: 0 0 0 3px #2cc872;
}