body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;
    background-color: white;
    grid-gap: auto 20px;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
    position: fixed;
}
/* Actualisation header */
.lien{
    text-decoration: none;
    color: white;
}
a{
    text-decoration:none;
    color:white;
}

/* Menu du dashboard_compte*/
.tab {
    display: block;
    border: 1px solid #ccc;
    background-color: #333333;
    height: 50px;
}

.tab button {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #486454;
}

.tablinks{
    height: 50px;
}

.choix{
    border-left:white 1px solid;
}

.centre{
    background-color: #333333;
    padding:0;
    margin:0;
    width:auto;
    display: grid;
    font-family: Segoe UI Light, Georgia;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns:2fr 7fr;
    grid-template-rows: 3fr 7fr;
    height: 600px;

}
.piece{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-auto-rows: 14.7px;
    background-size: cover;
}



.image {
    width: 27vw;
    height: 15vw;
    grid-column: 1;
    grid-row: 1;
}

.image_main {
    width: 50%;
    height: 50%;
    grid-column: 3;
    grid-row: 2;
}

.nom_piece{
    background-color: #343c44;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    grid-row: 12/15;
    font-size: 25px;
    text-align: center;
    color :white;
}

.info_piece{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-auto-rows: 90px;
    background-color: #343c44;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    font-size: 18px;
    grid-row-gap: 5px;
    grid-template-rows: 3fr 6fr 3fr;

}
.case_modif{
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 2;
    grid-row:2;
    text-align: center;

}

.boutonModif{

    border : none;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color:   #29bc6b;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 20px #212122;
    padding: 1vw;
    font-size: 2vw;
    transition: 0.1s;
    margin-top: auto;
    margin-bottom: auto;
}
.case_info{
    display: grid;
    grid-column: 1;
    grid-row:2;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    color: white;
}


.case_capteurs{
    display: grid;
    grid-auto-rows:10px;
    background-color: #343c44;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #212122;
    grid-column:1;
    grid-row: 2;
    text-align: center;
    color:black;
    height: 51vh;
}

.info_capteurs{
    grid-row: 1/5;
    font-size: 20px;
    padding-top: 7px;
    color: #2cc872;

}

.liste_capteurs{
    color: white;
    grid-row: 5/13;
    font-size: 20px;
    padding-top: 5px;
    height: 43vh;
    overflow: auto;
}

.suppr{
    color:red;
    padding-bottom: 2px;
}

.case_ajout{
    display: grid;
    grid-auto-rows:10px;
    grid-column: 2;
    grid-row: 2;
    background-color: #343c44;
    border-radius: 10px;
    color:white;
    font-size: 36px;
    height: 51vh;

}
.case_ajout1{
    text-align: center;
    color:#2cc872;
    grid-row: 1/5;
    font-size: 20px;
    padding-top: 5px;
}
.case_ajout2{
    display: grid;
    grid-row: 5/45;
    height: 100px;
    font-size: 18px;

}
.boutonAjout {
    border : none;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: #29bc6b;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 20px #212122;
    height: 9vh;
    padding: 1vw;
    font-size: 2vw;
    width: 15vw;
    transition: 0.1s;
    grid-column: 4;
    grid-row: 2;
}

.boutonAjout:hover{
    transform: scale(1.04);
}





.nommage {
    grid-column: 3;
    grid-row: 2;
}

.idcapteur {
    grid-column: 3;
    grid-row: 4;
}
body {
    display: flex;
    height: 100vh;
}

.cube {
    margin: auto;
    font-size: 24px;
    height: 1em;
    width: 1em;
    position: relative;
    transform: rotatex(30deg) rotatey(45deg) ;
    transform-style: preserve-3d;
    animation: cube-spin 1.5s infinite ease-in-out alternate;
}

.side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-style: preserve-3d;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: currentcolor;
        transform: translatez(.5em);
        animation: cube-explode 1.5s infinite ease-in-out;
        opacity: .5;
    }
}

@for $i from 1 through 4 {
    .side:nth-child(#{$i}) {
        transform: rotatey(90deg * $i);
    }
}

.side:nth-child(5) {
    transform: rotatex(90deg);
}

.side:nth-child(6) {
    transform: rotatex(270deg);
}

@keyframes cube-spin {
    0% {
        transform: rotatex(30deg) rotatey(45deg);
    }
    100% {
        transform: rotatex(30deg) rotatey(45deg + 360deg);
    }
}

@keyframes cube-explode {
    0% {
        transform: translatez(.5em);
    }
    50% {
        transform: translatez(.5em * 1.5);
    }
    100% {
        transform: translatez(.5em);
    }
}