.corps{
	display: grid;
    padding:0;
    margin:0;
    width:auto;
    background-color : #333333;
    color : white;
    font-family: Segoe UI Light, Georgia;
	grid-template-columns: 2fr 28fr;
	grid-auto-rows: 196px;
}

.lien{
	text-decoration:none;
    color:white;
}

.centre{

}

.nom_piece{
	font-size:50px;
}

.taille{

}

.image{
	position:absolute;
	top:20px;
	left:500px;
	width:50%;
	height:50%;
}
