.corps{
	display: grid;
    padding:0;
    margin:0;
    width:auto;
    background-color : #333333;
    color : white;
    font-family: Segoe UI Light, Georgia;
	grid-template-columns: 2fr 28fr;
	grid-auto-rows: 196px;
}

.lien{
	text-decoration:none;
    color:white;
}

.centre{

}

.nom_piece{
	font-size:75px;
	font-weight:bold;
}

.taille{
    font-size:30px;
	margin-left:20px;
}

.boutonModif{
    text-decoration:none;
	color:white;
}

.image{
	position:absolute;
	top:50px;
	left:750px;
	width:45%;
	height:45%;
}

.infoCapteurs{
	margin-left:20px;
	font-size:25px;
}

.ON{
	color:green;
	font-weight:bold;
}

.OFF{
	color:red;
	font-weight:bold;
}

.ajout{
	margin-left:20px;
	font-size:25px;
}

form{
    display:inline;	
}





