body {
	background-color : #333333;
	color : white;
	font-family: Segoe UI Light, Georgia;
}

#image{
	position : absolute;
	height: 240px;
	width: 520px;
	left : 60%;
	top: 0%;
}

.txtIdentifiant{
	position : absolute;
	font-size : 110%;
	left : 70% ;
	top : 25%;
}

.cadreID{
	position : absolute;
	left : 70%;
	top : 30%;
}

.txtMdp{
	
}


