body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;	
    grid-templat-rows: 10vh 90vh;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
}

/* Actualisation header */
.lien{
    text-decoration: none;
    color: white;
}

.parametres{
    background-color: #486454;
    border-left: #2cc872 solid 3px;
}

/* Menu du dashboard_compte*/
.tab {
	display: flex;
    border: 1px solid #ccc;
    background-color: #333333;
	overflow: hidden;
	height: 50px;
}

.tablinks {
	font-size: 15px;
}

.tab button {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #486454;
}

.tab button.active {
    background-color: #486454;
}

/* Disposition des blocs */
.tabcontent {
	display: none;
	grid-row-start: 2;
	bottom: 140px;
	color: black;
    height: 500px;
	overflow: auto;

}

.bold {
	font-weight: bold;
}

.bloc {
	background-color: lightgrey;
	border-radius: 15px;
	padding: 3px 3px;
	margin-top: 5px;
	width: 99%;
	height: 12%;
}

/* Contenu de la tab Profile */
.profile_form {
	padding-top: 5px;
	padding-left: 5px;
	font-size: 15px;
}
	
	/* Bloc n°1 de Profile*/
	#bloc_profile_1 {
		display: grid;
		grid-template-columns: auto auto auto auto;
	}
	
	#name {
		grid-column-start: 1;
	}
	
	#firstname {
		grid-column-start: 2;
	}

/* Bouton d'envoi des informations */
.enregistrer {
	width: 100px;
	height: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}