body
{
    padding:0;
    margin:0;
    width:auto;
}

#site{
    display: grid;
    grid-template-columns: 2fr 28fr;		
    grid-template-rows: 10vh 90vh;
    font-family: Segoe UI Light, Georgia;
    text-decoration:none;
}

/* Actualisation header */
.lien{
    text-decoration: none;
    color: white;
}

.parametres{
    background-color: #486454;
    border-left: #2cc872 solid 3px;

}

/* Menu du dashboard_compte*/
.tab {
	display: grid;
	grid-row: 1;
	grid-template-columns: 6fr 6fr 6fr 6fr 75fr;
    background-color: #333333;
	overflow: hidden;
	height: 50px;
}

.tablinks {
	font-size: 15px;
}

.tab button {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #486454;
}

.tab button.active {
    background-color: #486454;
}

/* Disposition des blocs */
.tabcontent {
	display: none;
	grid-row-start: 2;
	position: relative;
	bottom: 20px;
	color: black;
	overflow: auto;
}

.bloc {
	display: grid;
	background-color: #343c44;
	box-shadow: 2px 2px 2px 2px #212122;
	border-radius: 15px;
	padding: 5px 3px;
	margin-top: 25px;
	width: 99%;
}

/* Contenu de la tab Profile */
.profile_form {
	padding-top: 5px;
	padding-left: 5px;
	font-size: 18px;
}

.tag {
	color: #2cc872;
	font-weight: bold;
}

	/* Bloc n°1 de Profile */
	#bloc_profile_1 {
		display: grid;
		grid-template-columns: 50fr 50fr;
		grid-column-gap: 10px;
	}
	
	/* Bloc n°2 de Profile */
	#bloc_profile_2 {
		display: grid;
		grid-temlate-rows: auto auto;
	}
	
	#bloc_profile_2_row_2 {
	display: grid;
	grid-template-columns: 33fr 33fr 33fr;
	}
	
/* Bouton d'envoi des informations */
.enregistrer {
	box-shadow: 2px 2px 10px #212122;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 100px;
	height: 30px;
}