body
{
	padding:0;
	margin:0;
    width:auto;
}

.site{
	display: grid;
	grid-template-columns: 1fr 15fr;
	grid-auto-rows: 193px;
	background-color: grey;
	color: white;
	border: #646463 solid 5px;
	font-family: Segoe UI Light, Georgia;
	text-decoration:none;
}
a{
	text-decoration:none;
	color:white;
}

/*menu*/
.case1{
	display: grid;
	grid-auto-rows: 18px;
	grid-row: 1/4;
	background-color: #333333;
	text-align: center;	
}
.case11{
}
.case12{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
	grid-row: 2/6;
}
.case13{
	grid-row: 6/10;
}
.case14{
	grid-row: 10/14;
}
.case15{
	grid-row: 14/18;
}

.case16{
	grid-row: 18/31;
	background-image: url("virifocus.png");
	background-size: cover;
	background-position: center;
}


.case1212{
	transition: 0.3s;
}
.case1313{
	transition: 0.3s;
}
.case1414{
	transition: 0.3s;
}
.case1515{
	transition: 0.3s;
}
.case1313:hover{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
}
.case1414:hover{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
}
.case1515:hover{
	background-color: #486454;
	border-left: #2cc872 solid 4px;
}



/* ensemble des données */
.case2{
	background-color: white;
	display: grid;
	grid-template-columns:3fr 7fr 7fr;
	grid-auto-rows: 193px;
	grid-row: 1/4;
	border-left: white solid 3px;
	
}



/*photo maison et nom*/
.case3{	
	display: grid;
	grid-auto-rows: 16.1px;
}
.case31{
	background-image:url("maison.png");
	background-size: cover;
	background-position: center;
	grid-row: 1/11
}
.case32{
	background-color: #333333;
	grid-row: 11/13;
	font-size: 20px;
	text-align: center;
	color :white;
}



/* données de type temperature, consommation*/
.case4{
	display: grid;
	grid-auto-rows: 65px;
	background-color: #333333;
	font-size: 18px;
}
/*humidité*/
.case41{
	border-bottom: #2cc872 solid 3px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	transition: 0.3s;
}
.case411{
	align-items: center;
	display: flex;
	justify-content: center;
	color:white;
}
.case412{
	color:#2cc872;
	font-size: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
}

/*consommation*/
.case42{
	border-bottom: #2cc872 solid 3px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	transition: 0.3s;
}
.case421{
	color:white;
}
.case422{
	color:#2cc872;
	font-size: 30px;
}

/*température*/
.case43{
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	transition: 0.3s;
}
.case431{
	color:white;
}
.case432{
	color:#2cc872;
	font-size: 30px;
}

.case41:hover{
	background-color: #486454;
}
.case42:hover{
	background-color: #486454;
}
.case43:hover{
	background-color: #486454;
}





/*graphes d'évolution*/
.case5{
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: #838383;
}
/*.case51{;
	font-size: 30px;
	align-items: center;
	display:flex;
	justify-content: center;
	text-align: center;
}
.case52{
	background-image: url("meteo.png");
	background-size: cover;
	background-position: center;
}
*/




/* données de type sécurité, eco mode, et peronnes présentes dans la maison*/
.case6{
	display: grid;
	grid-auto-rows: 10px;
	background-color: lightgrey;
	grid-row: 2/4;
	text-align: center;
	color:black;
}
/*home mode titre*/
.case61{
	grid-row: 1/4;
	font-size: 20px;
}

/*home mode bouttons*/
.case62{
	grid-row: 4/9;
	display: grid;
	grid-template-columns: 1fr 10fr 10fr 10fr 1fr;
	color: #2cc872;
	grid-column-gap: 3px;

}
.case622{
	background-color: #40495e;
	border-radius: 10px;
	box-shadow: 0px 4px 20px #212122;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: 0.3s;

}
.case623{
	background-color: #40495e;
	border-radius: 10px;
	box-shadow: 0px 4px 20px #212122;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: 0.3s;
}
.case624{
	background-color: #40495e;
	border-radius: 10px;
	box-shadow: 0px 4px 20px #212122;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: 0.3s;
}
.case622:hover{
	border:#2cc872 solid 2px;
}
.case623:hover{
	border:#2cc872 solid 2px;
}
.case624:hover{
	border:#2cc872 solid 2px;
}

.case63{
	grid-row: 9/13;
	font-size: 20px;
	padding-top: 5px;
}
.case64{
	display: grid;
	grid-template-columns: 1fr 20fr 1fr;
	grid-row: 13/21;
}
.case642{
	background-color: #40495e;
	color:#2cc872;
	border: #2cc872 solid 3px; /*#ae4c43*/
	border-radius: 10px;
	box-shadow: 0px 5px 20px #212122;
}



.case65{
	grid-row: 21/27;
	font-size: 18px;
	padding-top: 3px;
}
.case66{
	display: grid;
	grid-template-columns: 1fr 20fr 1fr;
	grid-row: 27/37;
}
.case662{
	background-color: #40495e;
	color:#e48177;
	border-radius: 10px;
	box-shadow: 0px 5px 20px #212122;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.case67{
	grid-row: 37/38;
}



/* controles de chaque piece de la maison*/
.case7{
	grid-column: 2/4;
	grid-row: 2/4;
	display: grid;
	background-color: white;
	grid-auto-rows: 130px;
	color:#2cc872;
	font-size: 40px;
	overflow: auto ;
	border-top: lightgrey solid 5px;
	border-bottom: lightgrey solid 3px;
}

.case71{
	display: grid;
	grid-template-columns: 2fr 5fr 1fr;
	border-bottom: lightgrey solid 3px;
}
.case711{

}
.case712{
	display: grid;
	overflow: auto;
	grid-auto-rows: 97px;
	grid-template-columns: repeat(12, 192px);
	grid-column-gap: 10px;
}

.case7121{
	background-color: #8c9ca4;
	border-radius: 10px;
}
.case7122{
	background-color: #8c9ca4;
	border-radius: 10px;
}
.case7123{
	background-color: #8c9ca4;
	border-radius: 10px;
}
.case7124{
	background-color: #8c9ca4;
	border-radius: 10px;
}


.case72{
	border-bottom: lightgrey solid 3px;
}
.case73{
	border-bottom: lightgrey solid 3px;
}
.case74{
	border-bottom: lightgrey solid 3px;
}
.case75{
	border-bottom: lightgrey solid 3px;
}
.case76{
	border-bottom: lightgrey solid 3px;
}


















.switch {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
	display:none;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2cc872;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ae4c43;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ae4f43;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*boutton d ajout de capteur*/
.boutton1{
	align-items: center;
	display:flex;
	justify-content: center;
}
.ajouterpiece{
	background-color: #40495e;
	border:none;
	border-radius: 10px;
	color:#2cc872;
	cursor: pointer;
	font-size: 10px;
	outline: none;
	padding: 10px;
	border: #2cc872 solid 3px;
	transition: 0.3s;
}
.ajouterpiece:hover{
	transform:scale(1.05);
	border: #2cc872 solid 5px;
}
.ajouterpiece:active{
	transform: scale(1.03);
}

